{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Ships Treasure Chest</title>
	<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/>
		<link rel="stylesheet" href="{% static "css/ovg_styles.css" %}" type="text/css"/>
		<meta name="description" content="" />
		<meta name="author" content="David Gillies" />
		<!-- fix for mobile issues -->
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />


</head>
<body>
{% block content %}
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>

